In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('car_prediction_data.csv')

In [3]:
data.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0,7.25
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0,2.85
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0,4.60

In [17]:
def train_test_split(data, test_ratio):
    np.random.seed(42)
    suffeled = np.random.permutation(len(data))
    
    print(suffeled)
    test_set_size = int(len(data) * test_ratio)
    train_indexes = suffeled[test_set_size:]
    test_indexes = suffeled[:test_set_size]
    return data.iloc[test_indexes], data.iloc[train_indexes]

In [19]:
x_t, y_t = train_test_split(data, 0.2)

[177 289 228 198  60   9 118 154 164  33   5 116  45 173 230  46 124  97
 158 101 168 267 240  25 144 246 251  73 109 108 137 282 163  42  17 266
  76  90  24  57  92  77 290 167   7 140 279  78 248 229 224 104  63  82
 223 275 234 296 281 285 182 184 132 194  75 111  59  93   6 175  30  22
 286  56 239 113 129 232 195 277 280 213  84  66 203 165 119  19 181  79
 114 185  72  15  10 196 298  68 226  37  16 125 287 271  67 225  69  31
 176 152 263 143  18 183  96 236 148  86 250 147 293 256 126 139 208  55
 146 186 249  38 197 233 209 112 170 117 278 272 157 178 180   2 115 247
 179 120 231 261 127  74  29  83 245 107 155 283 254 192 218  65 200  85
 215 159  12  35  28 142 193 131 172  51  95 210 222  41  89 219 136  26
 294 141 202   0 269 273 100 260 103 171  98  36  61 150 238 204 244  11
 297 268  27 221   4 122  32 206 162 211 258 138  62 135 128 291   8  70
 265  64  44 237 156  40 123 284 216 153  23 262 110  81 207 212  39 242
 292 259 199  14  47  94 264 227 274 201 161  43 217 145 190 220 255   3
 105  53 133 253   1  49  80 205  34  91  52 241  13  88 166 295 134 288
 243  54  50 174 189 299 187 169  58  48 235 252  21 160 276 191 257 149
 130 151  99  87 214 121 300  20 188  71 106 270 102]

In [20]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
st = StratifiedShuffleSplit(n_splits=10, random_state=42,test_size=0.2)
st.